<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Usuário</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-blue-600 mb-8">Adicionar Novo Usuário</h1>

    <div class="bg-white rounded-lg shadow-md p-6">
        <form th:action="@{/usuarios/salvar}" th:object="${usuario}" method="POST">
            <div class="mb-4">
                <label for="nome" class="block text-gray-700 font-semibold mb-2">Nome</label>
                <input type="text" id="nome" th:field="*{nome}" required
                       class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="text-red-500"></span>
            </div>
            <div class="mb-4">
                <label for="senha" class="block text-gray-700 font-semibold mb-2">Senha</label>
                <input type="text" id="senha" th:field="*{senha}" required
                       class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                <span th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}" class="text-red-500"></span>
            </div>


            <div class="flex justify-between mt-6">
                <a href="/usuarios/listar" class="px-4 py-2 bg-gray-500 text-white rounded-lg hover:bg-gray-600">Cancelar</a>
                <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">Salvar</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>